* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.edit-navbar {
  background-color: #d4574a;
}

.bg-image {
  background-image: url('../img/bg.jpg/');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.form-edit {
  background-color: rgba(190, 190, 190, 0.8);
}

.w-20 {
  width: 10%;
}

.first-detail {
  background-color: #e27e65;
}

.img-edit1,
.img-edit2,
.img-edit3 {
  width: 200px;
  top: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-edit1,
.img-edit2 {
  height: 200px;
}
.img-edit3 {
  height: 250px;
}

.img-edit1 {
  background-image: url('../img/kids.webp');
}

.img-edit2 {
  background-image: url('../img/comute.webp');
}

.img-edit3 {
  background-image: url('../img/clock.jpg');
}

.second-detail {
  background-color: #99a5a6;
}

.third-detail {
  background-color: #519bd7;
}

.text-white:hover {
  text-decoration: none;
}

.bg-black {
  background-color: black;
}